$primary-color: #1a1a1d;
$seconday-color: #c3073f;
$show-home-image: true;
// $home-image: url(../img/PorfolioImage.jpg);
$background-opacity: 0.9;

@mixin easeOut {
  transition: all 0.5s ease-out;
}
@mixin background {
  @if $show-home-image {
    &#bg-img {
      background: $home-image;
      background-attachment: fixed;
      background-size: cover;
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  // @include background();
  background-image: url(../img/PorfolioImage.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: $primary-color;
  // background: $primary-color;
  color: white;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba($primary-color, $background-opacity);
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 4rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}
p {
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}
.text-secondary {
  color: $seconday-color;
}

main {
  padding: 4rem;
  // height: 100%;
  //To create an sticky footer, we use calc and take the total vh of the main main minus the footer's height
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $seconday-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  @include easeOut;

  .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: white;
    @include easeOut;
  }

  &.close {
    transform: rotate(180deg);

    .btn-line {
      &:nth-child(1) {
        background: $seconday-color;
        transform: rotate(45deg) translate(5px, 5px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        background: $seconday-color;
        transform: rotate(-45deg) translate(7px, -6px);
      }
    }
  }
}

//MENU OVERLAY
.menu {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 1.2;
  visibility: hidden;

  &.show {
    visibility: visible;
  }

  &-branding,
  &-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  &-nav {
    margin: 0;
    padding: 0;
    background-color: darken($primary-color, 5);
    transform: translate3d(0, -100%, 0);
    @include easeOut();

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  &-branding {
    background: $primary-color;
    transform: translate3d(0, 100%, 0);
    @include easeOut();
    &.show {
      transform: translate3d(0, 0, 0);
    }
    .portrait {
      width: 300px;
      height: 300px;
      background-image: url(../img/profile.png);
      background-size: 140%;
      background-position: -45px;
      border-radius: 50%;
      border: solid 5px $seconday-color;
    }
  }
  .nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut();
    &.show {
      transform: translate3d(0, 0, 0);
    }
    &.current > a {
      color: $seconday-color;
    }
  }
  .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0.5rem 0;
    font-weight: 300;
    color: white;

    @include easeOut();

    &:hover {
      color: $seconday-color;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: "bioimage bio bio" "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    border-radius: 50%;
    border: solid 5px $seconday-color;
  }
  .bio {
    grid-area: bio;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: solid 5px $seconday-color;
  }
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  img {
    width: 100%;
    height: 100%;
    border: 3px solid white;
    &:hover {
      opacity: 0.9;
      border-color: $seconday-color;
    }
  }
}

//contact page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 1.5rem;
    border: 3px white solid;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;

    &:hover {
      background: $seconday-color;

      span {
        color: black;
      }
    }
  }
}

.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $seconday-color;
    // background-color: $primary-color;
  }
}
.btn-dark {
  @extend .btn;
}
.btn-light {
  @extend .btn;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  height: 60px;
}

//delay each nav item
@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

//media query

@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}
@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

@include mediaXl {
}

@include mediaLg {
}

@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  // ul.menu-nav,
  // div.menu-branding {
  //   float: none;
  //   width: 100%;
  //   min-height: 0;
  // }
}

@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }
}
